body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape1
{
   border-width: 0;
}
#AdvancedButton1
{
   border: 2px solid #DC143C;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   margin: 0;
}
#AdvancedButton2
{
   border: 2px solid #DC143C;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   margin: 0;
}
#Line1
{
   border-color: #DC143C;
   border-style: solid;
   border-bottom-width: 3px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#AdvancedButton3
{
   border: 2px solid #DC143C;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   margin: 0;
}
#Line2
{
   border-width: 0;
   height: 164px;
   width: 11px;
}
#Фектя
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Григорий
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
