body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#AdvancedButton3
{
   border: 2px solid #FF0000;
   border-radius: 5px;
   background-color: #3370B7;
   background-image: none;
   margin: 0;
}
#AdvancedButton1
{
   border: 2px solid #FF0000;
   border-radius: 5px;
   background-color: #3370B7;
   background-image: none;
   margin: 0;
}
#wb_Line1
{
   font-size: 0;
}
#Line1
{
   border-width: 0;
   height: 12px;
   width: 150px;
}
#Ефим_Тит
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Миля
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
